/* Base reset*/
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

/* End base reset*/

/* Dark / Light mode */
body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}
.dark-mode {
    background-color: black;
    color: white;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    bottom: 2px;
    margin-left: 80px;
  }
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Nav bar*/

#nav-bar {
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-bottom: 2px solid black;
}
#actual-nav {
    display: flex;
    flex-direction: flex-end;
}
.nav-list {
    padding: 20px;
}
.nav-link{
    font-size: 1.1rem;
    margin-right: 15px;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
}
.nav-link:hover {
    text-decoration: underline;
    color: red;
}
.push {
    margin-right: auto;
}
#page-title {
    font-family: 'Anton', sans-serif;
    font-size: 1.1rem;
}
#reset-button {
    border-radius: 30px;;
}
#reset-button:hover {
    transform: rotate(50deg);
}
/* End nav bar*/

/* Enginge bar*/
input {
    margin-left: 10px;
    height: 25px;
    border: 0;
    border-radius: 5px;
}
#engine-bar {
    margin-top: 20px;
}
#bar-container {
    padding: 5px;
    border: 2px  solid;
    border-radius: 10px;
    width: 70%;
    margin: auto;
}
.input-sizing {
    width: 30%;
}
#layout-toggle {
    height: 20px;
    width: 20px;
    position: relative;
    top: 4px;
    margin-left: 80px;
}
#layout-toggle:hover {
    cursor: pointer;
}
#reset-button {
    height: 20px;
    width: 20px;
    position: relative;
    top: 4px;
    margin-left: 80px;
}
#reset-button:hover {
    cursor: pointer;
}

/* Grid section*/

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    margin: 40px auto;
}

#grid-container > div {
    padding-bottom: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.sizing {
    margin-top: 15px;
    width: 20px;
    height: 20px;
    align-self: flex-end;
    position: relative;
    top: 15px;
    right: 15px;
}
#font-name1 {
    font-family: 'Pacifico', cursive;
}
#font-name2 {
    font-family: 'Lobster', cursive;
}
#font-name3 {
    font-family: 'Shadows Into Light', cursive;
}
#font-name4 {
    font-family: 'Comfortaa', cursive;
}
#font-name5 {
    font-family: 'Amatic SC', cursive;
}
#font-name6 {
    font-family: 'Permanent Marker', cursive;
}
#font-name7 {
    font-family: 'Cinzel', serif;
}
#font-name8 {
    font-family: 'Courgette', cursive;
}
.tile-title {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 50px;
    text-align: center;
}
.font-author {
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 1.1rem;
}
.font-creator {
    margin-left: 10px;
    font-style: italic;
    font-size: 0.9rem;
}
footer div {
    border-top: 2px solid black;
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
}
#footer-container p {
    padding: 10px;
    margin: auto;
    font-family: 'Anton', sans-serif;
    font-size: 0.8rem;
}
.footer-border {
    border-top: 2px solid white;
}
.black-border {
    border-top: 1px solid black;
}
.white-border {
    border-top: 1px solid white;
}