/* Base reset*/
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

/* End base reset*/

/* Dark / Light mode */
body {
    background-color: white;
    color: black;
}
.dark-mode {
    background-color: black;
    color: white;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
  }
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Nav bar*/

#nav-bar {
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-bottom: 2px solid gray;
}
#actual-nav {
    display: flex;
    flex-direction: flex-end;
}
.nav-list {
    padding: 20px;
}
.nav-link{
    margin-right: 15px;
    color: gray;
    cursor: pointer;
    font-family: 'Rakkas', cursive;
}
.push {
    margin-right: auto;
}
#page-title {
    color: gray;
    font-family: 'Rakkas', cursive;
}
/* End nav bar*/

/* Enginge bar*/
input {
    margin-left: 10px;
    border: 0;
}
#engine-bar {
    margin-top: 20px;
}
#bar-container {
    border: 2px gray solid;
    border-radius: 10px;
    width: 70%;
    margin: auto;
}